.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(#d6001c, #a8001a);
}

.line-number {
  font-size: 49px;
  color: #d6001c;
  background: linear-gradient(#d6001c, #a8001a);
}

.realtime {
  font-size: 43px;
  color: #10b981;
}

.destination-name {
  font-size: 38px;
}

.departure-time {
  font-size: 49px;
}

h2 {
  font-size: 73px;
}

h3 {
  font-size: 43px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#d6001c, #a8001a);
  color: #fff;
}

* {
  box-sizing: border-box;
  transition: none;
}